<html>
<head>
<meta charset="utf-8"> 
<title>{{ name }} - episodes</title>
<link rel="stylesheet" href="/podcached/podcached.css"/>
</head>
<h1>{{ name }}</h1>
<p class="showdescription">{{ description }}</p>

{% for episode in episodes %}
<div class="episode">
    <h3 class="episodetitle"><a href="{{ episode.url }}">{{ episode.title }}</a></h3>
    <p class="metadata">
    <span class="label">Published: </span><span class="data">{{ episode.date }}</span>
    {% if episode.duration %}
    (<span class="label">Duration: </span><span class="data">{{ episode.duration }}</span>)
    {% endif %}
    </p>
    <div class="episodedescription">{{ episode.description }}</div>
</div>
{% endfor %}

</html>
